input#modeSwitch:checked {
    border: 1px solid white;
    background-color: black;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3crect width=%278%27 height=%278%27 fill=%27%23000%27/%3e%3ccircle r=%273%27 fill=%27none%27 stroke=%27%23fff%27 stroke-width=%270.8%27/%3e%3c/svg%3e");
}

input#modeSwitch {
    border: 1px solid black;
    background-color: white;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27none%27 stroke=%27%23000%27 stroke-width=%270.8%27/%3e%3c/svg%3e");
}

input#modeSwitch {
    box-shadow: none;
}

.bg-black.text-light.accordion-item >.accordion-header> button[type="button"].accordion-button {
    background-color: black !important;
    color: white !important;
}

.bg-light.text-black.accordion-item >.accordion-header> button[type="button"].accordion-button {
    background-color: white !important;
    color: black !important;
}
.bg-light.text-black.accordion-item >.accordion-header> button[type="button"].accordion-button::after{
    filter: invert(0);
}
.bg-black.text-light.accordion-item >.accordion-header> button[type="button"].accordion-button::after{
    filter: invert(1);
}

input[type="text"].form-control::placeholder{
    color: grey!important;
}

.alert.bg-black.alert-dismissible.fade.show.container{
    border-width: 2px;
    border-color: white;
    color: white;
    & button.btn-close{
        filter: invert(1);        
    }
}

.alert.bg-white.alert-dismissible.fade.show.container{
    border-width: 2px;
    border-color: black;
    color: black;
    & button.btn-close{
        filter: invert(0);        
    }
}

.alert.alert-danger.alert-dismissible.fade.show.container{
    color:red;
    border-color: red;
}

.dark-mode{
    background-color: black;
    color: white;
}

.light-mode{
    background-color: white;
    color: black;
}